* {
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;

	background-color: #000;
	background-image: 
		linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)),
		url(images/trasnparencia.png);

	font-family: "Poppins", Sans-serif;
}



.header-container {
	width: 100vw;
	height: 83vh;

	background-image: 
		linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%),
		url(images/bg.jpg);

	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 30px;
}

.header-title {
	width: 95%;
	padding-top: 100px;

	color: #E99856;
	line-height: 1;
}

.header-title h1 {
	font-size: 21px;
}

.header-title h2 {
	font-size: 45px;
	padding: 20px 0;
}

.header-title p {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;

	margin-bottom: 40px;
}

.header-title a {
	width: 40%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 10px 24px;

	text-decoration: none;
	font-weight: 500;
	color: #E99856;

	border: 3px solid #E99856;
}



.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 50px;
}

.container:first-child {
	margin-top: 2px;
}

#container-title {
	font-size: 25px;
	color: #E99856;
}

#container-line {
	height: 4px;
	width: 50px;

	margin-bottom: 40px;

	border: none;
	background-color: #E99856;
}

.container-item {
	display: flex;

	margin: 0 20px 30px 20px;
	color: white;
}

.container-description {
	margin-right: 15px;
}

.container-description h4 {
	font-size: 18px;
	color: #E99856;
}

.container-description p {
	font-size: 14px;
	margin: 10px 0;
}

.container-description a {
	font-weight: 500;
}

.container-drinks-item {
	width: 90%;
	margin-bottom: 15px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: #E99856;
	font-weight: 500;
}

.container-drinks-item span {
	-webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    height: 0;
}


@media (min-width: 756px) {
	.header-container {
		background-image: 
			linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%),
			url(images/bg-otimizada.jpg);
		background-position: center;

		height: 900px;
	}

	.header-title a {
		width: 150px;
	}

	.container-drinks-item {
		width: 405px;
	}
}